##
# Ansible provided setup. See https://github.com/fourkitchens/server-playbooks.
##

<VirtualHost *:80>
	ServerAdmin {{ apache_server_admin }}
	ServerAlias {{ apache_server_alias }}

	DocumentRoot /var/www

	<Directory /var/www>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride All
		Order allow,deny
		allow from all
	</Directory>

</VirtualHost>

<IfModule mod_ssl.c>
	<VirtualHost *:443>
		ServerAdmin {{ apache_server_admin }}
		ServerAlias {{ apache_server_alias }}
	
		DocumentRoot /var/www
	
		<Directory /var/www>
			Options Indexes FollowSymLinks MultiViews
			AllowOverride All
			Order allow,deny
			allow from all
		</Directory>

		# Enable local HTTPS
		SSLEngine on
		SSLCertificateFile    /etc/ssl/certs/ssl-cert-snakeoil.pem
	  SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key
	
		<FilesMatch "\.(cgi|shtml|phtml|php)$">
		  SSLOptions +StdEnvVars
	  </FilesMatch>
		<Directory /usr/lib/cgi-bin>
			SSLOptions +StdEnvVars
		</Directory>
	
		# Handle IE skullduggery
		BrowserMatch "MSIE [2-6]" \
			nokeepalive ssl-unclean-shutdown \
			downgrade-1.0 force-response-1.0
		# MSIE 7 and newer should be able to use keepalive
		BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown
	
	</VirtualHost>
</IfModule>
