##
# Ansible provided setup. See https://github.com/fourkitchens/server-playbooks.
##

<VirtualHost *:80>
	ServerAdmin {{ apache_server_admin }}
	ServerAlias {{ apache_server_alias }}

	DocumentRoot /var/www

	<Directory /var/www>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride All
		Order allow,deny
		allow from all
	</Directory>

</VirtualHost>
