<?php
$databases['default']['default'] = array(
    'driver' => 'mysql',
    'database' => 'engageny2',
    'username' => 'engageny2',
    'password' => 'engageny2',
    'host' => 'localhost',
    'prefix' => '',
    'collation' => 'utf8_general_ci',
);