<?php
include('./sites/default/settings.php');
$databases['default']['default'] = array(
    'driver' => 'mysql',
    'database' => '{{ project }}',
    'username' => '{{ project }}',
    'password' => '{{ project }}',
    'host' => 'localhost',
    'prefix' => '',
    'collation' => 'utf8_general_ci',
);

$conf['preprocess_css'] = FALSE;
$conf['preprocess_js'] = FALSE;
$conf['file_public_path'] = 'sites/default/files';