<?php
$databases['default']['default'] = array(
    'driver' => 'mysql',
    'database' => '{{ project }}',
    'username' => '{{ project }}',
    'password' => '{{ project }}',
    'host' => 'localhost',
    'prefix' => '',
    'collation' => 'utf8_general_ci',
);

